@media screen and (min-width: 390px){

    #exp-nav-item {
        padding: 12px 12px;
        border: 5px solid #111517;
        box-shadow: 10px 12px #6461a0;
    }

    h3 {
        font-size: 32px;
    }

    .right-arrow {
        width: 40px;
        height: 40px;
        margin-bottom: -12px;
    }

    .card {
        border: 5px solid #111517;
        box-shadow: 12px 18px #ff337e;
    }
    

}