#nav {
    display: none;
}

@media screen and (min-width: 390px){
    img {
        height: 100%;
        width: 50%;
        margin: 32px 0px;
    }
    
    #main {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    #main img {
        box-shadow: 12px 18px #FF337E;

    }

    /* #toggle-nav {
        
    } */

}

@media screen and (min-width: 1024px ) {
    #main {
        flex-direction: row;
        justify-content: space-around;
        height: 40vh;
    }

    main {
        margin-top: 120px;
    }

    
}

footer {
    bottom: 0;
    position: absolute;
}
