@media screen and (min-width: 390px){

    #portf-nav-item {
        padding: 12px 12px;
        border: 5px solid #111517;
        box-shadow: 10px 12px #6461a0;
    }

    #project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-shadow: none;
        border: none;
        width: 100%;
        
    }

    .project {
        /* background-color: rgba(100, 97, 160, 0.5); */
        width: 360px;
        height: 360px;
        border: 5px solid #111517;
        margin: 16px 12px ;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 12px 18px #6461a0;
    }

    .project img {
        width: 220px;
        height: 220px;
        padding-top: 12px;
    }

    .project:hover {
        /* background-color: grey; */
        transition: 0.4s;
        margin-left: 6px;
        margin-top: 6px;
        box-shadow: 18px 24px #6461a0;
    }

    

}

@media screen and (min-width: 768px ) {
    #project-grid {
        /* grid-template-columns: 1fr 1fr 1fr; */
        width: 100%;
    }

    /* .project {
        
    } */
}

