<!DOCTYPE html>
<html>
    <head>
        <title>Mia Jimenez</title>
        <link rel="stylesheet" href="../stylesheets/bio.css">
        <link rel="stylesheet" href="../stylesheets/shared.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="section">
                <h1><a href="index.html">MIA JIMENEZ</a></h1>
            </div>
        </header>

        <nav>
            <div class="menu-section">
                <button id="toggle-nav">MENU</button>
            </div>
            <div id="nav">
                <ul>
                    <li id="bio-nav-item"><a class="underline" href="bio.html">BIO</a></li>
                    <li><a class="underline" href="exp.html">EXPERIENCE</a></li>
                    <li><a class="underline" href="portf.html">PORTFOLIO</a></li>
                </ul>
            </div>

        </nav>

        <main>
            <div class="main-section">

                <section>
                    <h3 class="underline">A LITTLE BIT ABOUT ME:</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </section>

                <section>
                    <h3 class="underline">MY INTERESTS:</h3>
                    <ul>
                        <li class="grid-item">GAMING <img src="../images/gamepad.png" alt="Hobbies and free time icons created by Nikita Golubev - Flaticon"> </li> 
                        <li class="grid-item">TRAVELLING <img src="../images/travel.png" alt="Travel icons created by Maxim Basinski Premium - Flaticon"></li>
                        <li class="grid-item">HORROR FILMS <img src="../images/skull.png" alt="Skull icons created by yut1655 - Flaticon"></li>
                        <li class="grid-item">CATS <img src="../images/cat.png" alt="Cat icons created by Freepik - Flaticon"></li>
                        <li class="grid-item">GYM <img src="../images/dumbbell.png" alt="Hobbies and free time icons created by Nikita Golubev - Flaticon"></li>
                        <li class="grid-item">PUZZLES <img src="../images/puzzle-piece.png" alt="Jigsaw icons created by kerismaker - Flaticon"></li>
                    </ul>
                </section>

            </div>

        </main>

        <footer>
            <a class="icon" href="https://www.linkedin.com/in/mia-jimenez/" title="linkedin icons"> <img src="../images/linkedin.png" alt="Linkedin icons created by Freepik - Flaticon"></a>
            <a class="icon" href="https://www.instagram.com/miabellavia/" title="instagram icons"> <img src="../images/instagram.png" alt="Instagram icons created by Freepik - Flaticon"></a>
            <a class="icon" href="https://github.com/miajimenez-eg" title="github icons"> <img src="../images/github.png" alt="Github icons created by Pixel perfect - Flaticon"></a>

        </footer>
        <script src="../scripts/shared.js"></script>
    </body>
</html>