<!DOCTYPE html>
<html>
    <head>
        <title>Mia Jimenez</title>
        <link rel="stylesheet" href="./stylesheets/exp.css">
        <link rel="stylesheet" href="./stylesheets/shared.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        
    </body>
</html>