<!DOCTYPE html>
<html>
    <head>
        <title>Mia Jimenez</title>
        <link rel="stylesheet" href="../stylesheets/portf.css">
        <link rel="stylesheet" href="../stylesheets/shared.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="section">
                <h1><a href="index.html">MIA JIMENEZ</a></h1>
            </div>
        </header>

        <nav>
            <div class="menu-section">
                <button id="toggle-nav">MENU</button>
            </div>
            <div>
                <ul>
                    <li><a href="bio.html">BIO</a></li>
                    <li><a href="exp.html">EXPERIENCE</a></li>
                    <li id="portf-nav-item"><a href="portf.html">PORTFOLIO</a></li>
                </ul>
            </div>

        </nav>

        <main>
            <div class="main-section">
                <div class="section">
                    <img src="" alt="Project 1">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>

        </main>

        <footer>
            <a class="icon" href="https://www.linkedin.com/in/mia-jimenez/" title="linkedin icons"> <img src="../images/linkedin.png" alt="Linkedin icons created by Freepik - Flaticon"></a>
            <a class="icon" href="https://www.instagram.com/miabellavia/" title="instagram icons"> <img src="../images/instagram.png" alt="Instagram icons created by Freepik - Flaticon"></a>
            <a class="icon" href="https://github.com/miajimenez-eg" title="github icons"> <img src="../images/github.png" alt="Github icons created by Pixel perfect - Flaticon"></a>

        </footer>
        
    </body>
</html>